Django
psycopg2-binary
django-ckeditor-5
django-taggit
Pillow
python-decouple
django-crispy-forms
crispy-bootstrap5
requests
python-telegram-bot
pyTelegramBotAPI
celery
redis
django-redis
channels
channels-redis
daphne
whitenoise
gunicorn
dj-database-url
django-storages
boto3
unidecode
django-filter
django-debug-toolbar
django-extensions
Faker
factory-boy
coverage
pytest-django
python-dotenv
reportlab
django-user-agents
django-ckeditor-improved
